
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

/* <p class="oswald-font">This text will have the Oswald font.</p> */


  
@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide > div{
    margin: 0 10px;
}